<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd" >
<suite name="Wiki Tests" parallel="false">
    <test name="Selenium tests">
        <classes>
            <class name="selenium.chapters.AlertsTest"/>
            <class name="selenium.chapters.GettingBrowserInformationTest"/>
            <class name="selenium.chapters.FramesTest"/>
        </classes>
    </test>
</suite>