<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd" >
<suite name="Wiki Tests" parallel="false">
    <test name="Selenium tests">
        <classes>
            <class name="vznd.selenium.AlertsTest"/>
            <class name="vznd.selenium.GettingBrowserInformationTest"/>
            <class name="vznd.selenium.FramesTest"/>
            <class name="vznd.selenium.BrowserNavigationTest"/>
            <class name="vznd.selenium.KeyboardActionsTest"/>
            <class name="vznd.selenium.WindowsTest"/>
            <class name="vznd.selenium.ElementsTraditionalLocatorsTest"/>
            <class name="vznd.selenium.ElementsInformationTest"/>
            <class name="vznd.selenium.ElementsInteractionsTest"/>
            <class name="vznd.selenium.ElementsFindersTest"/>
            <class name="vznd.selenium.CookiesTest"/>
        </classes>
    </test>
</suite>