button {
    background-color: yellowgreen;
}

iframe {
    height: 250px;
    width: 300px;
}

table {
    width: 100%;
}

.green-btn {
    background-color: yellowgreen;
}

.invisible {
    visibility: hidden;
}

.presence-button {
    display: none;
}

.wait-green-title {
    background-color: lightgreen;
    text-align: center;
    margin-top: 100px;
}

.wait-gray-title {
    background-color: lightgray;
    text-align: center;
    margin-top: 100px;
}

#user-form {
    background-color: yellowgreen;
    height: 180px;
    width: 200px;
    padding: 20px;
}

#user-form #submit-button {
    background-color: azure;
}

#favourite-food {
    background-color: yellowgreen;
    width: 300px;
    height: 100px;
    padding: 10px;
    overflow: hidden;
    border-color: green;
}

#favourite-food option {
    padding: 5px;
    color: green;
}
