<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="../styles/style.css">
        <script>
            function d() {
                document.getElementById("green-button").style.backgroundColor = "red";
            }
            function c() {
                document.getElementById("green-button").style.backgroundColor = "yellowgreen";
            }
        </script>
        <title>Double click</title>
    </head>
    <body>
        <h1>Double click</h1>
        <button id="green-button" ondblclick="d()" onclick="c()">double click me</button>
    </body>
</html>