<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="/style.css">
        <title>Select Lists</title>
    </head>
    <body>
        <h1>Elements Select Lists</h1>
        <p>Please, select your favourite food from the list:</p>
        <div>
            <select id="favourite-food" multiple>
                <option value=bread>Bread</option>
                <option value=milk>Milk</option>
                <option value=cheese>Cheese</option>
            </select>
        </div>
    </body>
</html>