<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="/style.css">
        <script src="/scripts/wait-scripts.js"></script>
        <title>Explicit Wait</title>
    </head>
    <body>
        <h1>Elements Explicit Wait</h1>
        <h2 class="wait-gray-title">alertIsPresent()</h2>
        <div>
            <button class="green-btn" id="alert-button" onclick="simpleAlert()">Click me to see an alert</button>
        </div>
        <h2 class="wait-green-title">and(), or(), not()</h2>
        <div>
            <button class="green-btn" id="on-button" disabled>On</button>
            <button class="green-btn" id="off-button"><a src="/alert-with-redirect.html">Off</a></button>
        </div>
        <h2 class="wait-gray-title">attributeContainsByLocator(), attributeContainsByElement(), attributeToBeByLocator(), attributeToBeByElement(), attributeToBeNotEmpty()</h2>
        <div>
            <button class="green-btn" id="attr-button" title="I am a title!">I am a button</button>
        </div>
        <h2 class="wait-green-title">elementSelectionStateToBeByLocator(), elementSelectionStateToBeByElement(), elementToBeSelectedByLocator(), elementToBeSelectedByElement()</h2>
        <div>
            <select id="favourite-food">
                <option id="bread" value=bread>Bread</option>
                <option id="milk" value=milk>Milk</option>
                <option id="cheese" value=cheese>Cheese</option>
            </select>
        </div>
        <h2 class="wait-gray-title">elementToBeClickableByLocator(), elementToBeClickableByElement()</h2>
        <div>
            <button class="green-btn" id="not-clickable" disabled>Suck</button>
            <button class="green-btn" id="clickable"><a src="/alert-with-redirect.html">Click</a></button>
        </div>
        <h2 class="wait-green-title">frameToBeAvailableAndSwitchToItByIntLocator(), frameToBeAvailableAndSwitchToItByStringLocator(), frameToBeAvailableAndSwitchToItByLocator(), frameToBeAvailableAndSwitchToItByElement()</h2>
        <div>
            <div id="iframes">
                <iframe id="iframe" src="/first-iframe" style="border-color: lightgreen;"></iframe>
            </div>
        </div>
        <h2 class="wait-gray-title">invisibilityOf(), invisibilityOfAllElementsList(), invisibilityOfAllElementsWebElementArgs(), invisibilityOfElementLocatedByLocator(), invisibilityOfElementWithText()</h2>
        <div> 
            <form id="user-form">
                <label for="first-name">First name:</label>
                <input class="invisible" id="first-name" type="text"><br><br>
                <label for="last-name">Last name:</label>
                <input class="invisible" id="last-name" type="text"><br><br>
                <input class="invisible" id="agreement" type="checkbox">
                <label>I agree to process my data.</label><br><br>
                <input id="submit-button" type="submit" value="Submit">
            </form>
        </div>
        <h2 class="wait-green-title">numberOfElementsToBe(), numberOfElementsToBeLessThan(), numberOfElementsToBeMoreThan()</h2>
        <div>
            <button class="wait-button">Do nothing!</button>
            <button class="wait-button">Me too!</button>
            <button class="wait-button" id="wait-open-button" onclick="window.open('/explicit-wait', '_blank')">I open new page!</button>
        </div>
        <h2 class="wait-gray-title">presenceOfAllElementsLocatedBy(), presenceOfElementLocated(), presenceOfNestedElementLocatedBy(), presenceOfNestedElementsLocatedBy()</h2>
        <div id="present">
            <button class="presence-button" id="pull-button">Pull</button>
            <button class="presence-button" id="push-button">Push</button>
            <button class="presence-button" id="swipe-button">Swipe</button>
        </div>
        <h2 class="wait-green-title">refreshed(), stalenessOf()</h2>
        <div>
            <button id="refresh" onclick="refreshButton()">Refresh</button><br><br>
            <div id="refreshing-block">
                <button id="to-refresh">To refresh</button>
            </div>
        </div>
        <h2 class="wait-gray-title">textMatches(), textToBe(), textToBePresentInElement(), textToBePresentInElementLocated(), textToBePresentInElementValue(), textToBePresentInElementValue()</h2>
        <div>
            <textarea id="text-area">I am superhero</textarea>
        </div>
        <h2 class="wait-green-title">visibilityOf(), visibilityOfAllElementsList(), visibilityOfAllElementsArgs(), visibilityOfAllElementsLocatedBy(), visibilityOfElementLocated(), visibilityOfNestedElementsLocatedByLocator(), visibilityOfNestedElementsLocatedByElement()</h2>
        <div id="visible">
            <button class="visibility-button" id="play-button">Play</button>
            <button class="visibility-button" id="pause-button">Pause</button>
            <button class="visibility-button" id="resume-button">Resume</button>
        </div>
    </body>
</html>