<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="/style.css">
        <style>
            th, td {
                border-style: solid;
                border-color: green;
            }
        </style>
        <title>iFrame</title>
    </head>
    <body>
        <h1>Green iFrame</h1>
        <table id="green-table">
            <tr>
                <th>ID</th>
                <th>Username</th>
                <th>Birthday</th>
                <th>Country</th>
            </tr>
            <tr>
                <td>0</td>
                <td>John Smith</td>
                <td>17.06.1940</td>
                <td>USA</td>
            </tr>
            <tr>
                <td>1</td>
                <td>Korben Dallas</td>
                <td>11.12.1987</td>
                <td>US</td>
            </tr>
            <tr>
                <td>2</td>
                <td>Tommy Shelby</td>
                <td>08.11.1954</td>
                <td>Ireland</td>
            </tr>
        </table>
    </body>
</html>