<!DOCTYPE html>
<html>
        <head>
                <link rel="stylesheet" href="../styles/style.css">
                <title>iFrames</title>
        </head>
        <body>
                <h1>iFrames</h1>
                <div id="my-iframes">
                        <iframe id="first-iframe" name="green" src="/first-iframe" style="border-color: lightgreen;"></iframe>
                        <iframe id="second-iframe" name="red" src="/second-iframe" style="border-color: red;"></iframe>
                </div> 
        </body> 
</html>