<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="/style.css">
        <style>
            th, td {
                border-style: solid;
                border-color: red;
            }
        </style>
        <title>iFrame</title>
    </head>
    <body>
        <h1>Red iFrame</h1>
        <table id="red-table">
            <tr>
                <th>ID</th>
                <th>All Orders</th>
                <th>Completed</th>
                <th>In progress</th>
            </tr>
            <tr>
                <td>0</td>
                <td>45</td>
                <td>45</td>
                <td>0</td>
            </tr>
            <tr>
                <td>1</td>
                <td>15</td>
                <td>14</td>
                <td>1</td>
            </tr>
            <tr>
                <td>2</td>
                <td>20</td>
                <td>18</td>
                <td>2</td>
            </tr>
        </table>
    </body>
</html>